
language: python
python:
  - "3.6"

install: pip install -e $TRAVIS_BUILD_DIR/model

before_script:
 - cd $TRAVIS_BUILD_DIR/model

script: pytest

before_deploy:
 - cd $TRAVIS_BUILD_DIR/model

deploy:
  provider: pypi
  user: $PYPI_USER
  password: $PYPI_PASS
  on:
    tags: true